@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Italic.ttf');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    margin: 0;
    min-height: 100vh;
    font-family: "Open Sans", Arial, sans-serif;;
}

.header {
    /* max-width: 1259px; */
    background-color: rgb(0, 0, 0);
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between; 
    margin: 0 auto;
}

.fill-dir {
    width: 350px;
}

.header-title {
    margin: 0 auto;
}

#title {
    font-size: 35px;
    margin: 10px 0;
    font-weight: 500;
    color: aliceblue;
    /* font-family: "Open Sans", Arial, sans-serif; */
}

.site-func-panel {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
}


.sitefunc-btns {
    display: flex;
    align-items: stretch;
    list-style: none;
    margin: 0 0;
    padding-left: 0;
} 

.func-btn {
    margin-right: 10px;
    height: 42px;
	border: none;
	background: aliceblue;
	color:rgb(0, 0, 0);
	padding: 10px;
	font-size: 18px;
	border-radius: 5px;
	position: relative;
	box-sizing: border-box;
	transition: all 500ms ease; 
}

.func-btn:hover {
	background: rgba(0,0,0,0);
	color: aliceblue;
	box-shadow: inset 0 0 0 3px aliceblue;
}

.func-btn:focus {
    outline: none !important;
    border: none;
	background: rgba(0,0,0,0);
	color: aliceblue;
	box-shadow: inset 0 0 0 3px aliceblue;
}

.func-btn:active {
	background: rgba(0,0,0,0);
	color: aliceblue;
	box-shadow: inset 0 0 0 3px aliceblue;
}

.slider-content {
    background-color: aliceblue;
    padding: 50px 0;
}

.slider-main {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.slider-btn {
    display: flex;
    font-size: 80px;
    align-items: center;
    justify-content: center;
    width: 300px;
    padding: auto 0;
    text-align: center;
    box-sizing: border-box;
	transition: all 500ms ease;
}

.slider-btn > a {
    display: inline-block;
    color: #000;
    text-decoration: none;
    cursor: default;
    width: 50%;

}

.slider-btn:hover {
    background: rgba(0,0,0, 0.4);

}

.slider-btn:focus {
    background: rgba(0,0,0, 0.4);
    border: none;
    outline: none !important;
    box-shadow: none !important;

}

.slider-btn > a:focus {
    background: rgba(0,0,0, 0.4);
    border: none;
    outline: none !important;
    box-shadow: none !important;

}

.slider-btn:active {
    background: rgba(0,0,0, 0.4);

}

.image-wrapper {
    display: flex;
    justify-content: center;
    max-width: 1300px;
    /* min-width: 1000px; */
}

.hide-div {
    display: none;
    max-width: 1300px;
    min-width: 1000px;
    margin: auto;
    height: 700px;
    object-fit: contain;
    object-position: 50% 50%;
    justify-content: center;
    align-items: center;
}

.right {
    animation-name: slide-right;
    animation-duration: 1.5s;
}

.left {
    animation-name: slide-left;
    animation-duration: 1.5s;
}

/* @keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
} */

@keyframes slide-right {
    from {
      margin-left: 50%;
      width: 200%;
      opacity: 0;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
      opacity: 1;
    }
  }

@keyframes slide-left {
    from {
      margin-right: 50%;
      width: 200%;
      opacity: 0;
    }
  
    to {
      margin-right: 0%;
      width: 100%;
      opacity: 1;
    }
  }
  

.loader {
    --b: 10px;  /* border thickness */
    --n: 10;    /* number of dashes*/
    --g: 10deg; /* gap  between dashes*/
    --c: rgb(0, 0, 0);   /* the color */
    
    width:100px; /* size */
    aspect-ratio: 1;
    border-radius: 50%;
    padding: 1px; /* get rid of bad outlines */
    background: conic-gradient(#0000,var(--c)) content-box;
    --_m: /* we use +/-1deg between colors to avoid jagged edges */
      repeating-conic-gradient(#0000 0deg,
         #000 1deg calc(360deg/var(--n) - var(--g) - 1deg),
         #0000     calc(360deg/var(--n) - var(--g)) calc(360deg/var(--n))),
      radial-gradient(farthest-side,#0000 calc(98% - var(--b)),#000 calc(100% - var(--b)));
    -webkit-mask: var(--_m);
            mask: var(--_m);
    -webkit-mask-composite: destination-in;
            mask-composite: intersect;
    animation: load 1s infinite steps(var(--n));
  }
  @keyframes load {to{transform: rotate(1turn)}}


.image-wrapper > img {
    object-fit: contain;
    object-position: 50% 50%;
    max-width: 1300px;
    min-width: 1000px;
    /* max-height: 700px; */
    margin: auto;
    height: 700px;
    /* min-height: 700px; */
    max-width: 100%;
    /* animation: fade 5s linear infinite; */
    /* animation-delay: 2.5s; */
}

.dop-slider-btns {
    display: none;
}

.dop-slider-btn {
    display: none;

}

.slider-btn > a {
    text-decoration: none;
    /* cursor: default; */
    pointer-events: none;        
}

.dop-slider-btn > a {
    text-decoration: none;
    /* cursor: default; */
    pointer-events: none;     
}

@media screen and (max-width: 1740px) {
    /* .slider-btn {
        margin: auto 0;
        width: 100%;
    } */
}

@media screen and (max-width: 1600px) {
    .image-wrapper > img {
        max-width: 1100px;
        min-width: 900px;
        height: 600px;
    }
    .hide-div {
        max-width: 1100px;
        min-width: 900px;
        height: 600px;
    }
}

@media screen and (max-width: 1350px) {
    .image-wrapper > img {
        max-width: 1000px;
        /* min-width: 700px; */
        height: 550px;
    }
    .hide-div {
        max-width: 1000px;
        /* min-width: 700px; */
        height: 550px;
    }
}

@media screen and (max-width: 1250px) {
    .image-wrapper > img {
        max-width: 800px;
        /* min-width: 700px; */
        height: 500px;
    }

    .hide-div {
        max-width: 800px;
        /* min-width: 700px; */
        height: 500px;
    }
}

@media screen and (max-width: 1155px) {
    .image-wrapper > img {
        max-width: 100%;
        /* max-height: 800px; */
        height: 450px;
    }

    .hide-div {
        max-width: 100%;
        /* max-height: 800px; */
        height: 450px;
    }

    .slider-btn {
        display: none;
    }

    .dop-slider-btns {
        display: flex;
        justify-content: center;
        
    }

    .slider-main {
        justify-content: center;
    }

    .dop-slider-btn {
        display: inline;
        align-items: center;
        /* margin: 0px 50px; */
        text-align: center;
        display: flex;
        font-size: 70px;
        justify-content: center;
        width: 100%;
        box-sizing: border-box;
	    transition: all 500ms ease;
    }

    .dop-slider-btn > a {
        color:rgb(0, 0, 0)
    }

    .dop-slider-btn:hover {
        background: rgba(0,0,0, 0.4);
    }

    .sdop-slider-btn > a:focus {
        background: rgba(0,0,0, 0.4);
        border: none;
        outline: none !important;
        box-shadow: none !important;
    
    }

    .dop-slider-btn:active {
        background: rgba(0,0,0, 0.4);
    }

}

@media screen and (max-width: 900px) {
    .image-wrapper > img {
        max-width: 100%;
        min-width: 0;
        /* max-height: 800px; */
        height: 400px;
    }

    .hide-div {
        max-width: 100%;
        min-width: 10%;
        /* max-height: 800px; */
        height: 400px;
    }

    .fill-dir {
        display: none;
    }

    #title {
        font-size: 30px;
        margin-left: 10px;
    }

    .func-btn {
        margin-right: 5px;
        /* margin-bottom: 10px; */
        height: 48px;
        border: none;
        background: aliceblue;
        color:rgb(0, 0, 0);
        padding: 8px;
        font-size: 15px;
    }
}